h3{
    font-size: 25px !important;
    color: black !important;
}
canvas{
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 1px 1px 38px blue;}
    to {box-shadow: 100px 100px 38px green;}
   
}